@media (max-width: 768px) {
   .brand-title {
      font-size: 1.5rem;
   }
}

@media (max-width: 576px) {
   .brand-title {
      font-size: 1rem;
   }
}

body {
   background-color: #E8E5E5;
   max-width: 100vw;
}

.logoImg {
   display: flex;
   justify-content: center;
}

a {
   text-decoration: none;
   color: black;
}

/*******NavBar Component*******/
.nav-btn {
   background-color: #b89aaef2;
   border: 3px solid #7A3F5C;
   color: #4A2729;
   border-radius: 10px;
   margin-right: 5px;
}

.nav-btn:hover {
   background-color: #d0b3c7;
   border: 3px solid #7A3F5C;
   color: black;
}

.nav-btn:active {
   background-color: #b89aaef2;
   border: 3px solid #7A3F5C;
   color: #4A2729;

}

/*******BrandBanner Component*******/
.brand-box {
   display: flex;
   justify-content: center;
   align-items: center;
   background-image: url(./images/succ-bkg.jpg);
   height: 20rem;
   color: #4A2729;
   text-shadow: 2px 2px white;
}

.brand-title {
   background-color: #faebe9;
   border: 8px inset #905175;
   padding: 2rem 10rem;
   border-radius: 10px;
   font-size: 40px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   text-align: center;
}

/*******Login/Registration Components*******/
.link-btn {
   text-decoration: none;
   color: #905175;
   text-align: center;
}


/*******LoginForm Component*******/
.login-form, .reg-form {
   background-color: #F7F3F9;
   border: 4px groove #9E88C4;
   max-width: 75%;
   margin: auto;
   padding: 2rem;
   display: block;
}

.login-btn, .reg-btn {
   background-color: #CB8E9B;
   border: 2.5px solid #905175;
}

.login-btn:hover, .reg-btn:hover {
   background-color: #905175;
   color: #F7F3F9;
   border-color: #F7F3F9;
}



/*****PRODUCT CARD COMPONENT*****/
.product-card {
   margin-top: 20px;
   margin-bottom: 20px;
   border: 6px ridge #905175;
   border-radius: 10px;
   box-shadow: 2px 2px 2px;
   color: #7A3F5C;
   background-color: #F7F3F9;

}

.card-img {
   margin: auto;
}

.card-body {
   background-color: #F7F3F9;
   padding: 3px;
   max-width: 90%;
   flex-direction: column;
   margin: auto;
   margin-top: 4px;
   margin-bottom: 4px;
}

.card-title {
   font-size: xx-large;
   text-shadow: 1px 1px #F3ECDF;
   text-align: center;
}

.succ-name {
   font-size: x-large;
   text-align: center;
}

.succ-price {
   display: flex;
   justify-content: center;
   font-size: larger;
   font-weight: bold;
}

.add-cart {
   max-width: 7rem;
   display: flex;
   justify-content: center;
   background-color: #CB8E9B;
   border: 2px ridge #4A2729;
}

.add-cart:hover {
   background-color: #905175;
   color: #F7F3F9;
   border-color: #F7F3F9;
}

/*****FOOTER*****/
.footer {
   font-size: small;
}

/*******NewsletterForm Component*******/
.footer-newsletter {
   background-color: #B3C1B3;
}

.newsletter-signup {
   display: flex;
   flex-direction: row;
   justify-content: center;
}

.newsletter-header h3 {
   margin: auto;
}

.newsletter-header p {
   margin: auto;
}

.news-input-name, .new-input-email {
   max-width: 20rem;
   margin-right: 3px;
}

.form-input:active {
   border: #905175;
}

.news-btn {
   background-color: maroon;
   margin-bottom: 5px;
}

/*******FooterMain Component*******/
.footer-container {
   background-color: #B3C1B3;
}

#footer-table {
   background-color: #F7F3F9;
   margin-bottom: 0px;
}

thead {
   font-size: medium;
   border-bottom: 2px solid #E2E2E4;
}

.links {
   color: black;
   text-decoration: none;
}

/*******Socials Component*******/
.footer-container {
   display: flex;
   justify-content: center;
}

.social-icons {
   display: flex;
   flex-direction: row;
   margin-left: 1rem;
   margin-right: 1rem;
}

.social-link {
   margin: 5px;
   font-size: large;
}

.terms-privacy {
   display: flex;
   flex-direction: row;
}

.terms-privacy p {
   margin-right: .5rem;
}

/*******CartPage*******/

.cart-container {
   background-image: url(./images/cartSucculent.jpg);
}

.cart-card {
   background-color: #becfd5c0;
   border-radius: 20px;
   padding: 2rem;
   margin: 2rem;
}

.increase-btn, .decrease-btn {
   background-color: #cb8e9bad;
   border: 1px solid #7A3F5C;
   color: black;
   margin: 1rem;


}