/*******Login/Registration Components*******/
.link-btn {
   text-decoration: none;
   color: #905175;
   text-align: center;
}


/*******LoginForm Component*******/
.login-form, .reg-form {
   background-color: #F7F3F9;
   border: 4px groove #9E88C4;
   max-width: 75%;
   margin: auto;
   padding: 2rem;
   display: block;
}

.login-btn, .reg-btn {
   background-color: #CB8E9B;
   border: 2.5px solid #905175;
}

.login-btn:hover, .reg-btn:hover {
   background-color: #905175;
   color: #F7F3F9;
   border-color: #F7F3F9;
}

.login-btn:active, .reg-btn:active {
   background-color: red;
}


/*******NewsletterForm Component*******/
.newsletter-signup {
   background-color: red;
}

/*******FooterMain Component*******/
.footer-main {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}

.footer-list {
   list-style-type: none;
   justify-content: start;
}

.footer-container {
   display: flex;
   justify-content: space-between;
}

